/* -------------------------------------------------------- */
.simple-form input {
    margin: 0 .25rem;
    min-width: 125px;
    height: 40px;
    border: 1px solid #eee;
    border-left: 5px solid;
    border-radius: 0;
    transition: border-color .5s ease-out;
}
.simple-form input:optional {
    border-left-color: #999;
}
.simple-form input:required {
    border-left-color: #66bb6a;
}
.simple-form input:invalid {
    border-left-color: salmon;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}
.simple-form input:focus,.simple-form input:active{
    outline: none !important;
}